@model ParkingHouse.DB.Entities.Car
<div class="item">
    @using (Html.BeginForm("AddParkingCar", "Parking"))
    {
        @Html.DisplayNameFor(m => m.CarLength)<br /> 
        @Html.TextBoxFor(m => m.CarLength, new{ @Value = "4,00" })<br />
        @Html.DisplayNameFor(m => m.CarWidth)<br />
        @Html.TextBoxFor(m => m.CarWidth,  new{ @Value = "2,00" })<br />
        @Html.DisplayNameFor(m => m.HasContract)<br />
        @Html.EditorFor(m => m.HasContract)        
        <br />
        <input type="submit" value="+ Car to the Parking House " />
    }
</div>



