@model ParkingHouse.DB.Entities.Car

<div class="item">

    <h2>@Model.CarID</h2>
    <h3>
        Length: @Model.CarLength, Width @Model.CarWidth,
        Contract: @Model.HasContract, Entry time: @Model.EntryTime
    @Html.ActionLink("Leave from Parking House", "RemoveParkingCar", new { id = @Model.CarID })
    </h3>    
</div>